#card-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  background: var(--bg-card);
  border-radius: 12px;
  padding: 20px;
  border: 1px solid var(--border-color);
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--text-muted);
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  font-weight: 600;
}

.view-all {
  color: var(--primary);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  margin-top: 5px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.post-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-info h4 {
  font-size: 14px;
  font-weight: 600;
}
.author-info span {
  font-size: 11px;
  color: var(--text-muted);
}

.post-content {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.hashtag {
  color: #0ea5e9;
  text-decoration: none;
  font-weight: 500;
}

.post-image {
  width: 100%;
  border-radius: 8px;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
}

.post-footer {
  display: flex;
  gap: 20px;
  color: var(--text-muted);
  font-size: 13px;
}

.post-footer span {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
