.feed-layout {
  display: grid !important;

  grid-template-columns: minmax(250px, 280px) 1fr minmax(300px, 340px) !important;

  width: 100% !important;
  max-width: 1400px !important;

  min-height: calc(100vh - 9vh) !important;

  gap: 24px !important;

  padding: 24px !important;
  background-color: var(--field) !important;

  align-items: start;
}


.nav-container {
  position: sticky;
  top: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}


.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}


.chat-contaner {
  position: sticky;
  top: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}


