<form id="creat-post-form" method="post" class="share-box create-post-card">
  <div class="share-top">
    <img
      src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?w=100&auto=format&fit=crop&q=80"
      alt="User Avatar"
      class="avatar"
    />

    <div class="input-container">
      <div class="input-wrapper">
        <input
          type="text"
          name="posttitle"
          minlength="3"
          maxlength="50"
          placeholder="New Post Title"
        />
        <button class="emoji-btn" type="button">
          <i class="fa-regular fa-face-smile"></i>
        </button>
      </div>

      <div class="title-err"></div>

      <div class="input-wrapper">
        <textarea
          name="postdesc"
          minlength="10"
          maxlength="500"
          placeholder="New Post Description"
        ></textarea>
      </div>

      <div class="desc-err"></div>
    </div>
  </div>

  <hr class="divider" />

  <div class="actions">
    <label class="action-btn image-btn" for="image-upload">
      <i class="fa-regular fa-image"></i> Image
      <input
        type="file"
        id="image-upload"
        name="postimage"
        accept="image/*"
        style="display: none"
      />
    </label>

    <button class="action-btn mention-btn" type="submit">
      <i class="fa-regular fa-paper-plane"></i>
    </button>
  </div>

  <div class="img-err"></div>
</form>
